<IfModule mod_rewrite.c>
    RewriteEngine On
    <FilesMatch "(\.env|\.env.example|\.gitignore|composer\.(json|lock))$">
        Order Allow,Deny
        Deny from all
    </FilesMatch>
    RewriteRule ^storage/(?!app/public).* - [F,L,NC]
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
